/* Fondo lavanda */
body {
    font-family: 'Dancing Script', cursive; /* Fuente femenina para el cuerpo */
    background-color: #E6E6FA; /* Color lavanda */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.container {
    text-align: center;
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Bordes redondeados */
}

/* Nombre de la tienda con fuente elegante */
header h1 {
    font-family: 'Great Vibes', cursive; /* Fuente elegante para el nombre */
    font-size: 3rem;
    margin-bottom: 20px;
    color: #4B0082; /* Color morado */
}

/* Texto adicional antes del botón */
h2 {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #5F4B8B; /* Color de texto morado claro */
}

/* Estilo del botón plateado con letras doradas */
button {
    background-color: #3e0939; /* Color plateado */
    color: #FFD700; /* Letras doradas */
    padding: 12px 25px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto al pasar el cursor sobre el botón */
button:hover {
    background-color: #551a4b; /* Cambio a un gris más oscuro */
}

/* Resultados del análisis */
.result {
    margin-top: 20px;
    display: none;
}

video {
    width: 100%;
    height: auto;
    display: none;
}
