/* Fondo lavanda */
body {
    background-color: #E6E6FA; /* Color lavanda suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.container {
    text-align: center;
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Logo grande */
.logo {
    width: 200px; /* Ajusta el tamaño del logo */
    height: auto;
    margin-bottom: 20px;
}

/* Texto debajo del logo */
.subtitle {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    color: #992626; /* Color morado claro */
    margin-bottom: 20px;
}

/* Estilo del botón plateado con letras doradas */
button {
    background-color: #eecf06; /* Color plateado */
    color: #992626; /* Letras doradas */
    padding: 12px 25px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto al pasar el cursor sobre el botón */
button:hover {
    background-color: #B0B0B0; /* Cambio a un gris más oscuro */
}

/* Estilo para los resultados */
#analysisResult p {
    font-family: 'Arial', sans-serif, cursive; /* Mismo tipo de letra usado en los encabezados */
    font-size: 1.5rem;
    color: #992626; /* Color morado claro */
    margin-bottom: 10px;
}

/* Resultados del análisis */
.result {
    margin-top: 20px;
    display: none;
}

video {
    width: 100%;
    height: auto;
    display: none;
}
